<div th:insert="~{article_header :: header}"></div>

<h1>게시글 목록</h1>

<table>
    <thead>
        <th>제목</th>
        <th>작성일시</th>
    </thead>
    <tbody>
        <tr th:each="article, index : ${articleList}">
            <td>
                <a th:href="@{|/article/detail/${article.id}|}" th:text="${article.title}"></a>
            </td>
            <td th:text="${article.createdDate}"></td>
        </tr>
    </tbody>
</table>
<a th:if="${#authentication != null and #authentication.name != 'anonymousUser'}" th:href="@{/article/create}">등록하기</a>