<div th:insert="~{article_header :: header}"></div>

<h1>로그인</h1>

<div th:if="${param.error}" style="color:red;">아이디 또는 비밀번호가 잘못되었습니다.</div>

<form th:action="@{/member/login}" method="post">
    <div>
        <label for="username">유저ID</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">비밀번호</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">로그인</button>
</form>
